.footer {
  background-color: var(--navy-blue);
  text-align: center;
}

.logo-footer {
  color: var(--white);
}

.logo-footer .logo-accent {
  color: var(--iris);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower);
}